/* General Styling */
* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    color: lightblue;
    overflow-x: hidden;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: white;
    justify-content: space-between;
}

.text-primary1 {
    color: white;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background: lightblue;
    color:black;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid white;
    text-transform: uppercase;
  
    
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a {
    color: lightblue;
    text-decoration: white;
}

#navbar li a {
    text-decoration: none;
    color:white;
    padding: 1rem;
    font-size: 1.3 rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3;
}

#navbar li a:hover {
    background-color: lightblue;
}

.icons .project {
    height: 50px;
    width: 50%;
}

/* Showcase Area*/
#showcase {
    background: url(Images/Picture.jpg);
    height: 50vh;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0,6);
    color: white;

}

.showcase-content {
    font-size: 2rem;
    margin-bottom: 2rem;

}

.showcase-content .btn {
    font-size: 1.5 rem;
    padding: 1rem 10rem;
    background: lightblue;
}

.showcase-content .btn:hover {
    background: lightblue;
    color: white;
    transition: color 0.3s ;
}

.btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid aquamarine;
    border-radius: 10px;
    font-weight: bold;
}

/* Section : About */
#about {
    padding: 5rem 0;
    color: darkgray;
}

#about h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p.lead {
    margin-bottom: 1rem;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text {
    text-align: justify;
}

#about .about-image img {
    display: block;
    margin-left: auto;
    width: 60%;
    border-radius: 40%;
    margin-top: 50px;
}




/* Contact Us */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#contact-box {
    background: url('Images/Chess.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh; 
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0,6);
    background-color: lightblue;
    
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 20x 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: black;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: black;
}

.btn1 {
    background: #39b7dd;
    text-align: center;
    padding:15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;

}


@media screen and (max-width: 1024px) {
    #navbar{
        height: auto;
        width: auto;
    }
}


@media screen and (max-width: 600px) {
    .contact-form{
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width:100%;
    }
}




